@font-face {
  font-family: Coyote;
  src: url(../font/Coyote.ttf);
}

@font-face {
  font-family: 'Satoshi';
  src: url('../font/Satoshi-Regular.otf');
}

body {
  padding: 0;
  margin: 0;
  background: #000000;
  max-width: 100vw;
  /* overflow-x: hidden; */
  overflow-y: auto;
  scroll-behavior: smooth;
}

header {
  width: 84vw;
  padding: 4vh 0 4vh 0;
  position: fixed;
  top: 0;
  transition: background 0.5s ease-in-out;
  background: linear-gradient(to bottom, #000000 40%, #000000c7 70%, #00000000 100%);
  z-index: 1000;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

header li {
  float: right;
}

header li a {
  display: block;
  color: #fff;
  /* text-align: center; */
  /* padding: 10px 10px; */
  margin: 10px;
  margin-left: calc(3vw + 10px);
  text-decoration: none;
  position: relative;
}

header li img {
  width: 30px;
  height: auto;
  padding: 10px 0;
}

.navLinks {
  display: block;
}

.navButton {
  display: none;
  font-size: 24px;
  padding: 8px 20px;
  cursor: pointer;
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

#video video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

#muteButton, #unmuteButton {
  position: absolute;
  /* bottom: 2px; */
  /* left: 12px; */
  z-index: 2;
  color: white;
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  float: left;
}

#muteButton:hover, #unmuteButton:hover {
  /* color: #2da78d; */
  cursor: pointer;
  /* background-color: #ffffff; */
  transform: scale(1.1);
}

#main {
  width: 84vw;
  padding: 0 8vw;
  min-height: 100vh;
  font-family: Coyote, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  z-index: 2;
  position: relative;
  background: radial-gradient(rgba(13, 6, 11, 0), rgba(13, 6, 11, 1));
}

#main .title {
  padding: 0;
}

#main .bio {
  text-align: center;
  /* max-width: 800px; */
  padding: 30px;
  margin: 10px;
  font-family: 'Satoshi';
  font-size: 20px;
}

#main .bio h1 {
  text-align: center;
  /* max-width: 800px; */
  margin: -30px 0 0px -0px;

  font-family: 'Coyote';
  font-size: 65px;
}
#main .bio div {
  padding: 4px 0px 3px 0px;
}
#main .bio a {
  color: #ffffff;
}
#main .bio a:hover {
  color: #000000;
}

/* #main div {
  margin: 30px 0 0 0;
  font-size: 55px;
} */

/* #main button {
  font-family: Coyote, sans-serif;
  font-size: 16px;
  padding: 10px 2vw;
  border: 2px solid #2da78d;
  border-radius: 50px;
  color: #fff;
  background: #2da78d;
  width: 10vw;
  transition: 0.4s ease-in-out;
}

#main button:hover {
  transform: scale(1.06);
  background: #2da78d;
  border: 2px solid #2da78d;
  cursor: pointer;
}

#main button:active {
  transform: scale(0.6);
  background: #2da78d;
  border: 2px solid #2da78d;
} */

#main span {
  font-size: 19px;
  color: #c8c8c8;
}

footer {
  width: 84vw;
  padding: 4vh 0;
  position: absolute;
  bottom: 0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

footer li {
  float: right;
}

footer li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 3px 10px;
  margin-left: 3vw;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}

.monea {
  font-weight: bold;
}

a {
  transition: 0.4s ease-in-out;
}

a:hover {
  /* color: #2da78d; */
  cursor: pointer;
  background-color: #ffffff;
  color: #000;
}

button:focus {
  outline: 0;
}

#not_supported {
  color: #fff;
  width: 92vw;
  padding: 0 4vw;
  height: 100vh;
  font-family: Coyote, sans-serif;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  display: none;
}

a:focus {
  outline: none;
}

::-moz-selection {
  color: #000;
  background: #fff;
}

::selection {
  color: #000;
  background: #fff;
}

#content {
  display: inline-block;
  padding: 12vh 0 12vh 0;
  /* justify-content: start; */
}

.portfolio {
    /* max-width: 1200px; */
    margin: 0 auto;
}

.portfolio-nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

.portfolio-nav ul li {
    display: inline;
    margin: 0 15px;
}

.portfolio-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    position: relative;
}

.portfolio-nav ul li a:hover {
  /* color: #2da78d; */
  cursor: pointer;
  background-color: #ffffff;
  color: #000;
}

.portfolio-nav ul li a.active, .portfolio-nav ul li a:hover {
    font-weight: bold;
}

.portfolio-nav ul li a.active::after, .portfolio-nav ul li a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.portfolio-item {
  position: relative; /* Ensure relative positioning for the overlay */
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.2s, transform 0.2s;
}

.portfolio-item.hidden {
  opacity: 0;
  transform: scale(0.97);
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 6px;
  transition: transform 0.2s ease-in-out; /* Add transform transition */
}

.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease-in-out; /* Add transform transition */
}

.portfolio-item:hover img,
.portfolio-item:hover .overlay {
  transform: scale(1.02); /* Slightly enlarge image and overlay */
  cursor: pointer;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}


/* Styles for the video overlay */
.video-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-container {
  position: relative;
  width: 640px;
  max-width: 100%;
}

.video-overlay iframe {
  width: 640px;
  height: 350px;
  border-width: 0;

}

.video-overlay.active {
  display: flex;
}

/* Media Queries for Responsive Design */
@media (max-width: 1080px) {
  .portfolio-item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  #video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #video video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }

  #not_supported {
    display: flex;
  }
}

@media (max-width: 768px) {

  .portfolio-item {
    flex: 1 1 100%;
    max-width: 98%;
  }

  .navButton {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 77px; /* Adjust based on your header height */
    padding:8px;
    right: 0;
    /* width: 100%; */
  }

  .navLinks li {
    width: 100%;
    text-align: right;
    margin: 0;
    text-shadow: 1px 1px #000000;
    /* padding: 10px; */
  }

  .navLinks li:hover {
    text-shadow: 0px 0px;
  }

  .navLinks.show {
    display: flex;
  }

  footer {
    margin-bottom: 50px; /* Increase margin to ensure footer is visible above the search bar */
  }

  #main .bio h1 {
    text-align: center;
    /* max-width: 800px; */
    margin: -15px 0 0px -0px;
  
    font-family: 'Coyote';
    font-size: 35px;
  }
}